* {
    transform: all 0.15s;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Kanit", sans-serif;
    font-style: normal;
    overflow-y: auto;
    vertical-align: middle;
}

.cover-background {
    background-color: black;
    opacity: 0.38;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 20;
}

.confirm {
    display: none;
    position: fixed;
    top: 50;
    bottom: 50;
    left: 50;
    right: 50;
    height: fit-content;
    opacity: 1;
    background-color: white;
    padding: 20px 25px;
    border-radius: 20px;
    z-index: 20;
    transform: scale(0.6);
    animation-name: zoom-in;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes zoom-in {
    from {
        opacity: 0;
    }
    to {
        transform: scale(0.8);
        opacity: 1;
    }
}

textarea {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.confirm > h1 {
    margin: 12px 0px;
}

.confirm > p {
    font-size: 2rem;
    margin: 0;
}

.btns-row {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin: 20px;
}

.btns-row > button {
    font-weight: bold;
    padding: 12px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    width: 120px;
}

.yes-btn {
    box-shadow: 0px 0px 3px rgba(0, 170, 0, 0.4);
    background-color: rgb(0, 170, 0);
    color: white;
}

.no-btn {
    box-shadow: 0px 0px 3px rgba(200, 0, 0, 0.4);
    background-color: rgb(200, 0, 0);
    color: white;
}

.input {
    background-color: rgb(230, 230, 230);
    height: 230px;
    width: 280px;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 15px;
    line-height: 20px;
    resize: none;
    overflow: hidden;
}

.row1 {
    padding: 2px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.row1 > * {
    margin: 0;
}

.row1 > .options-div {
    margin-top: 5.8px;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row2 > * {
    margin: 0px 5.8px 5.8px 5.8px;
}

button {
    transition: all 0.15s;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.7;
}

.options-div > .json-btn, .format-btn, .detect-language {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    margin: 5.8px 6px;
    background-color: #202020;
    color: rgb(240, 240, 240);
    font-family: "Kanit", sans-serif;
    font-style: normal;
    padding: 12px;
    font-size: 14px;
    border-radius: 12px;
    border: none;
}

.options-div {
    padding: 0;
    border-radius: 12px;
}

.format-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

.format-div > * {
    margin: 5px;
}

.format-div > button {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.back-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.home-page {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    background-color: #202020;
    border: none;
    border-radius: 12px;
    padding: 8px 6px 6px 6px;
    height: 45px;
    width: 45px;
    vertical-align: middle;
}

.home-page > * {
    margin: 0;
    height: 25px;
    width: 25px;
}

.json-btn {
    background-color: green;
    color: rgb(240, 240, 240);
    font-family: "Kanit", sans-serif;
    font-style: normal;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
}

.format-btn {
    background-color: #404040;
    color: rgb(240, 240, 240);
    font-family: "Kanit", sans-serif;
    font-style: normal;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
}

.result, .result2 {
    background-color: rgb(235, 235, 235);
    height: 230px;
    width: 280px;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 15px;
    line-height: 20px;
    resize: none;
    overflow: hidden;
}

.result, .result2 {
    color: rgb(235, 235, 235);
    animation: fade-in 0.8s forwards;
}

@keyframes fade-in {
    from {
        color: rgb(235, 235, 235);
        width: 260px;
        padding-left: 32px;
    }
    to {
        color: #202020;
        width: 280px;
        padding-left: 12px;
    }
}

.result2 {
    display: none;
}

.one-rem-p {
    text-indent: 1rem;
}

.two-rem-p {
    text-indent: 2rem;
}

.three-rem-p {
    text-indent: 3rem;
}

.four-rem-p {
    text-indent: 4rem;
}